@using App.Data.Entities;
@model AdvertEntity;
  


   
    <h1>@Model.Name</h1>

   
    <div>
        <p>Description: @Model.Description</p>
        <p>Price: @Model.Price</p>
        <p>Created At: @Model.CreatedAt</p>
        <p>Updated At: @Model.UpdatedAt</p>
        <p>Stock Count: @Model.StockCount</p>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <p>Image: <img src="~/images/adverts/@Model.ImageUrl" alt="Advert Image" /></p>
    }
       
        <p>Confirmed: @Model.Confirm</p>       
        <p>Category ID: @Model.CategoryId</p>

    <a asp-controller="Seller" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

    <h2>Advert Comments</h2>
    @if (Model.AdvertComments != null && Model.AdvertComments.Any())
    {
        <ul>
            @foreach (var comment in Model.AdvertComments)
            {
                <li>@comment.Message</li>
            }
        </ul>
    }
    else
    {
        <p>Hiç yorum yapılmamış.</p>
    }


       </div>
<p>Favorites Count: @(Model.CustomerFavList != null ? Model.CustomerFavList.Count() : 0)</p>

   


